{% extends 'base.html' %}
{% load static %}
<body>
{% block conteudo %}
<img src="{% static 'img/LOGO.png' %}">

<h3>OS N° {{ anatico.pk }}</h3>
<h2>Prestador: {{ anatico.empresa }}</h2>
<h2>CNJP: {{ anatico.empresa.cnpj }}</h2>
<h3>Equipamento: {{ anatico.ns.descricao }} | Marca: {{ anatico.ns.marca }} | Modelo: {{ anatico.ns.modelo }}| NS: {{ anatico.ns.numero_serie }}</h3>
<h5>Motivo: {{ anatico.motivo }}</h5>
<h5>Descrição: {{ anatico.descricao }}</h5>
<h5>Data de saida:{{ anatico.dt_saida }}</h5>
<h5>________________________________________</h5>
<h5>Responsavel empresa: {{ anatico.resposavel_empresa }}</h5>
<h5>________________________________________</h5>
<h5>Resposavel interno: {{ anatico.resposavel_interno }}</h5>

    <a href="#">
      <button class="btn btn-success">Imprimir</button>
    </a>

{% endblock %}
</body>
</html>